<!DOCTYPE html>
<html
xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-success">
		<div class="container-fluid">
			<a class="navbar-brand mb-0 mr-5 text-white" th:href="@{/baseball/landing}">MyStyle</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
				aria-controls="navbarNavDropdown" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="nav-con collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item dropdown">
					<a
						class="nav-link dropdown-toggle text-white mr-3" href="#"
						id="navbarDropdownMenuLink" role="button"
						data-bs-toggle="dropdown" aria-expanded="false">SEARCH
					</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<li><a class="dropdown-item" type="submit" th:href="@{landing/all_search}">ALL</a></li>
							<li><a class="dropdown-item" th:href="@{landing/part_search}">PART</a></li>
						</ul>	
					</li>
					<li class="nav-item mr-3"><a class="nav-link text-white" th:href="@{landing/insert}">INSERT</a></li>
					<li class="nav-item mr-3"><a class="nav-link text-white" th:href="@{landing/update}">UPDATE</a></li>
					<li class="nav-item mr-3"><a class="nav-link text-white" th:href="@{landing/delete}">DELETE</a></li>
					<li class="nav-item mr-3"><a class="nav-link text-white" th:href="@{landing/shopping}">SHOPPING</a></li>
					<li class="nav-item mr-3"><a class="nav-link text-white" th:href="@{landing/twitter}">TWITTER</a></li>
				</ul>
				<div>				   
				     <p class="nav-link text-white" th:text="${form.getUser_name()} + 'さん、こんにちは！'"></p>
				</div>
			</div>
		</div>
	</nav>
</body>
</html>