<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>PART_SEARCH_RESULT</title>
<!-- Bootstrap core CSS -->
<link rel="icon" href="/img/icon.png">
<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
<link href="/css/style.css" th:href="@{/css/partSearchResult.css}"
	rel="stylesheet">
<link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"
	rel="stylesheet">
<link href="starter-template.css" th:href="@{/css/starter-template.css}"
	rel="stylesheet">
</head>
<body style="background-color: #eee;">
	<div th:replace="navi :: nav"></div>
	<main class="main-fluid" th:each="l :${resultList}">
		<h1 class="sec-title" style="margin-bottom: 30px;"><img src="/img/icon.png" style="width: 80px;" >SHOP DETAILS<img src="/img/icon4.png" style="width: 80px;" ></h1>
		<div id="carouselExampleFade" class="carousel slide carousel-fade"
			data-bs-ride="carousel" style="max-width: 800px; margin: 0 auto;">
			<div class="carousel-inner mainvisual">
				<th:block th:each="i : ${#numbers.sequence(1, 3)}">
				    <th:block th:if="${i == 1}">
					<div class="carousel-item active">
						<img style="border-radius: 100px; height: 400px;"
							th:src="${l.getShop_img()} + '/img' + ${i} + '.jpg'"
							class="d-block w-100">
					</div>
				    </th:block>
				    <th:block th:unless="${i == 1}">
					<div class="carousel-item">
						<img style="border-radius: 100px; height: 400px;"
							th:src="${l.getShop_img()} + '/img' + ${i} + '.jpg'"
							class="d-block w-100">
					</div>
				    </th:block>
				</th:block>
			</div>
			<button class="carousel-control-prev" type="button"
				data-bs-target="#carouselExampleFade" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button"
				data-bs-target="#carouselExampleFade" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
		<div class="shop-deatils" style="max-width: 800px; margin: 30px auto;">
			<h2 th:text="*{l.getShop_name()}">NYUYAAKJO</h2>
			<p th:text="*{l.getAddress()}">吉祥寺</p>
			<p class="description" th:text="*{l.getDescription()}">
				NEW YORK JOE<br> EXCHANGEは、新しいスタイルのリサイクルショップです。<br>
				不要になった衣類・靴・鞄・アクセサリーの処分に困り、今までゴミとして捨てていた方…。<br>
				買取に出したくても、ハードルの高い査定に売る事を諦め、タンスの肥やしにされている方…。 NEW YORK JOE<br>
				EXCHANGEでは、そういった方々のお持ちになられている衣類・靴・鞄・アクセサリーの最終引き取り人となるべく、独自の査定システムで買取させて頂きます。<br>
				ブランド・ノーブランド、年代も問わずに幅広い間口より買取を致しますので、店内には様々なスタイルの商品が多数取り揃います。<br>
				また、店内商品の全てが10,000円以下。平均商品価格は2,000円となります。
			</p>
			<table>
				<tr>
					<td>TEL</td>
					<td th:text="*{l.getTel_number()}">08034440202</td>
				</tr>
				<tr>
					<td>ADDRESS</td>
					<td th:text="*{l.getAddress()}"></td>
				</tr>
				<tr>
					<td>URL</td>
					<td th:text="*{l.getUrl()}"></td>
				</tr>
			</table>
			<iframe
				th:src="*{l.getMap()}"
				width="800" height="400"
				style="border: 0; margin-top: 30px; filter: grayscale(100%);"
				allowfullscreen="" loading="lazy"
				referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
	</main>

	<footer>
		<p class="footer">&copy;Takara.H</p>
	</footer>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>
</html>