<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="サインイン機能">
<meta name="author" content="Takara">
<title>SelectUserImage</title>
 <!-- Bootstrap core CSS -->
     <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link href="/css/style.css" th:href="@{/css/selectImg.css}" rel="stylesheet">
    <link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="starter-template.css"  th:href="@{/css/starter-template.css}" rel="stylesheet">
</head>
<body style="background-color: #eee;">
	<nav class="navbar navbar-light bg-success">
		<div class="container-fluid">
			<span class="navbar-brand mb-0 h8 text-white">MyStyle</span>
		</div>
	</nav>
	<!-- <form method="post" th:action="@{/baseball/top}"> -->
	<div class="img-container">
		<th:block th:each="i : ${#numbers.sequence(1, 8)}">
			<form th:action="@{/baseball/signUp/{imgId}(imgId = ${i})}"
				th:object="${signInForm}">
				<button type="submit">
					<img th:src="|/img/user/img${i}.jpg|">
				</button>
				<input th:value="${i}" style="display: none;">
			</form>
		</th:block>
	</div>
	<div style="margin: 0 auto;"></div>
</body>
</html>