<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>個人情報の確認</title>
 <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
<link href="/css/style.css" th:href="@{/css/updateCheck.css}" rel="stylesheet">
<link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="starter-template.css"  th:href="@{/css/starter-template.css}" rel="stylesheet">
</head>
<body style="background-color: #eee;">
	<div th:replace="navi :: nav"></div>
	<div class="update-fluid">
	  <h1 class="sec-title">UPDATE</h1>
		<div class="table-container">
	    <p class="update-sec">UserInfo</p>
		<th:block th:if="${isUpdate}">
			<div class="alert alert-primary" role="alert">UPDATE SUCCESS!!</div>
		</th:block>
		<table class="table table-striped" style="margin-bottom: 0rem;">
			<tbody>
				<tr>
					<td style="padding: 20px;">Name</td>
					<th:block th:if="${form}">
					   <td style="padding: 20px; font-size: 20px;" th:text="${form.getUser_name()}">???</td>
					</th:block>
					<th:block th:unless="${form}">
					   <td style="padding: 20px; font-size: 20px;"><p style="text-align: center;">???</p></td>
					</th:block>
					<td style="padding: 20px;"><a th:href="@{/baseball/landing/update_check_name}" class="btn btn-primary" style="color: white; border-radius: 100px; padding-top: 10px;">Update</a></td>
				</tr>
				<tr>
					<td style="padding: 20px;">MailAddress</td>
					<th:block th:if="${form}">
					   <td style="padding: 20px; font-size: 20px;" th:text="${form.getMailaddress()}">???</td>
					</th:block>
					<th:block th:unless="${form}">
					   <td style="padding: 20px; font-size: 20px;"><p style="text-align: center;">???</p></td>
					</th:block>
					<td style="padding: 20px;"><a th:href="@{/baseball/landing/update_check_mail}" class="btn btn-primary" style="color: white; border-radius: 100px; padding-top: 10px;">Update</a></td>
				</tr>
				<tr>
					<td style="padding: 20px;">Password</td>
					<th:block th:if="${form}">
					   <td style="padding: 20px; font-size: 20px;" th:text="${form.getPassword()}">???</td>
					</th:block>
					<th:block th:unless="${form}">
					   <td style="padding: 20px; font-size: 20px;"><p style="text-align: center;">???</p></td>
					</th:block>
					<td style="padding: 20px;"><a th:href="@{/baseball/landing/update_check_pass}" class="btn btn-primary" style="color: white; border-radius: 100px; padding-top: 10px;">Update</a></td>
				</tr>
		</table>
	  </div>
	</div>
	<footer>
	  <p class="footer">&copy;Takara.H</p>
	</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>