<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>更新フォーム</title>
 <!-- Bootstrap core CSS -->
 <link rel="icon" href="/img/icon.png">
<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
<link href="/css/style.css" th:href="@{/css/updateCheck.css}" rel="stylesheet">
<link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="starter-template.css"  th:href="@{/css/starter-template.css}" rel="stylesheet">
</head>
<body style="background-color: #eee;">
	<div th:replace="navi :: nav"></div>
	<div class="update-fluid">
		<h1 class="sec-title"><img src="/img/icon5.png" style="width: 80px;" >Update Form <img src="/img/icon4.png" style="width: 80px;" ></h1>
		<div class="table-container"> 
			<form th:action="@{/mystyle/landing/update}" th:method="POST">
				<th:block th:if="${error}">
				    <div class="alert alert-danger" role="alert">そのメールアドレスは登録不可能です。</div>
			    </th:block>
				<table class="table" style="margin: 0 auto; padding-top: 30px;">
					<tr>
						<td>
						  <p th:text="${secTitle}" style="text-align: center; padding: 20px; font-size: 18px;"></p>
						</td> 
						<td>
						    <th:block th:switch="${secTitle}">
								<input style="padding:10px 20px; margin-top: 10px; font-size: 20px;" th:case="'Name'" type="text" th:value="${inputValue}" name="name" />
								<input style="padding:10px 20px; margin-top: 10px; font-size: 20px;" th:case="'MailAddress'" type="text" th:value="${inputValue}" name="mail_address" />
								<input style="padding:10px 20px; margin-top: 10px; font-size: 20px;" th:case="'Password'" type="text" th:value="${inputValue}" name="password" />
							</th:block>
								<input  type="text" th:value="${secTitle}" name="secTitle" style="display: none;" />
						</td>
						<td>
						</td>
					</tr>
				</table>
				   <div class="btn-wrapper" style="margin: 0px auto 50px; "> 
				    <button type="submit" class="btn btn-primary">Update</button>
			        <a onclick="location.href='/mystyle/landing/update'" class="btn btn-success" style="color: white; padding-top:10px; ">Return</a>
				   </div>
			</form>
		</div>
	</div>
	<footer>
	  <p class="footer">&copy;Takara.H</p>
	</footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>